*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.banner{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(1.jpg);
    background-position: center;
    background-size: cover;
}

.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
    border-radius: 50%;
}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 25px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover{
   box-shadow: 0 4px #6166B3;
}

.content{
    width: 100%;
    position: absolute;
    top: 40%;
    color: white;
    text-align: center;
}

.content h1{
    font-size: 65px;
}

.content p{
    margin: 20px auto;
}

button {
    width: 200px;
    padding: 15px 0;
    border-radius: 35px;
    margin: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    font-weight: 600;
    background-color: #6166B3;
    font-size: 17PX;
}

button:hover {
    color: black;
    transition: 1s;
}

.hakkimda{
    color:rebeccapurple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.iletisim{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(7.jpg);
    background-position: center;
    background-size: cover;
}

.ilet{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}

.iletisimm{
    cursor: pointer;
    border-radius: 30%;
}

.ileti h1 {
    color: white;
}

.ileti h3{
    color: white;
}
.ileti a{
    color: cadetblue;
    font-size: 20px;
}

.hakkimda{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(4.png);
    background-position: center;
    background-size: cover;
}

.hakkim{
    color: #6166B3;
    font-size: 30px;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    justify-content: space-between;
    font-size: 25px;
}

.projelerim{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(5.jpg);
    background-position: center;
    background-size: cover;
}

.projeler h1{
color: #6166B3;
text-align: center;
font-size: 60px;

}

.projeler h2{
    color: #6166B3;
    text-align: center;
    font-size: 40px;
}

.projeler p{
    color: #6166B3;
    text-align: center;
    font-size: 20px;
}

.projeler a {
    font-size: 20px;
    text-decoration: none;
}

.iletisim{
    justify-content: center;
    display: flex;
    align-items: center;
}

.ileti{
    margin-left: 1050px;
    margin-top: 330px;
}
